# 13주차 복습문제

# 1번

## 1-1 파이썬 동호회원 9명은 각자 물섭취빈도, 손세척빈도, 마스크착용빈도, 스마트폰사용빈도, 운동빈도가 1~5사이로 랜덤하다. 각 항목을 컬럼으로, 회원명을 인덱스로, 1-5사이의 랜덤한 값을 value로 하는 데이터프레임을 작성하라  
 seed를 반드시 지정하시5

In [146]:
import pandas as pd
import numpy as np

index = ['재훈','간선','은줘','석회','방석','변yo한','T없2맑음','아이깨끗해','과민'] 
np.random.seed(100)
df = pd.DataFrame({'물섭취빈도':np.random.randint(1,5,size=len(index)),
                  '손세척빈도':np.random.randint(1,5,size=len(index)),
                  '마스크착용빈도':np.random.randint(1,5,size=len(index)),
                  '스마트폰사용빈도':np.random.randint(1,5,size=len(index)),
                  '운동빈도':np.random.randint(1,5,size=len(index))},
                 index = index)
df

       물섭취빈도  손세척빈도  마스크착용빈도  스마트폰사용빈도  운동빈도
재훈         1      1        1         2     2
간선         1      3        4         3     4
은줘         4      2        1         3     1
석회         4      3        4         4     1
방석         4      3        1         1     4
변yo한       4      3        3         1     4
T없2맑음      1      3        1         4     4
아이깨끗해      3      2        4         2     4
과민         3      1        2         2     2

## 1-2 corona모듈에 있는 make_resistance 함수는 코로나 저항력을 계산하는 함수이다. 작성된 데이터에 이 함수를 적용하여 파이썬 동호회원 9인의 코로나저항력을 계산하시오.

In [147]:
import corona

In [148]:
corona.make_resistance??

In [149]:
dat = corona.make_resistance(df)
dat

       물섭취빈도  손세척빈도  마스크착용빈도  스마트폰사용빈도  운동빈도  코로나저항력
재훈         1      1        1         2     2    12.3
간선         1      3        4         3     4    30.2
은줘         4      2        1         3     1    17.7
석회         4      3        4         4     1    29.6
방석         4      3        1         1     4    23.9
변yo한       4      3        3         1     4    29.9
T없2맑음      1      3        1         4     4    22.1
아이깨끗해      3      2        4         2     4    30.3
과민         3      1        2         2     2    18.3

## 1-3 dematrices 함수를 통해 코로나저항력을 종속변수 y, 나머지 변수를 X에 저장하고, numpy.linalg .lstsq알고리즘을 통한 회귀분석을 실행하여 도출되는 coef값을 Series형태로 출력하시오
### 독립변수 입력시 intercept는 꼭 제거하시길 바라오!

In [150]:
import patsy
y, X = patsy.dmatrices('코로나저항력 ~ 물섭취빈도+손세척빈도+마스크착용빈도+스마트폰사용빈도+운동빈도+0', dat)

In [151]:
coef, resid, _, _ = np.linalg.lstsq(X,y)
coef = pd.Series(coef.squeeze(), index=X.design_info.column_names)
coef

C:\Users\danan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  """Entry point for launching an IPython kernel.

물섭취빈도       1.5
손세척빈도       2.0
마스크착용빈도     3.0
스마트폰사용빈도    0.9
운동빈도        2.0
dtype: float64

## 1-4 코로나 저항력을 가장 높이는 행동은 무었인가?

마스크착용빈도

# 2번

## 2-1 X에 intercept를 추가하여 다시 X에 저장하시오

In [181]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
np.random.seed(12345)
N = 100
x = np.linspace(0,10,100)
X = np.column_stack((x, x**2))
beta = np.array([1,0.1,10])
e = np.random.normal(size=N)

In [182]:
X = sm.add_constant(X)

## 2-2 y와 X에 대해서 최소자승 선형회귀 모델을 model에 저장하고 해당 모델의 분석 결과를 출력하시오

In [183]:
y = np.dot(X, beta) + e

In [184]:
model = sm.OLS(y, X)

In [185]:
results = model.fit()

In [186]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 4.438e+06
Date:                Thu, 12 Mar 2020   Prob (F-statistic):          2.35e-241
Time:                        19:42:48   Log-Likelihood:                -141.64
No. Observations:                 100   AIC:                             289.3
Df Residuals:                      97   BIC:                             297.1
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.5711      0.298      5.275      0.000       0.980       2.162
x1            -0.2495      0.138     -1.812      0.073      -0.523       0.024
x2            10.0361      0.013    753.456      0.000      10.010      10.063
==============================================================================
Omnibus:                        0.602   Durbin-Watson:                   1.891
Prob(Omnibus):                  0.740   Jarque-Bera (JB):                0.298
Skew:                           0.119   Prob(JB):                        0.861
Kurtosis:                       3.124   Cond. No.                         144.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## 2-3  X와 y를 하나의 데이터 프레임(이름은 data)으로 만들고 열 이름은 c1, c2, c3, y로 정하라, 아울러 상위 다섯 행을 출력하라

In [187]:
data = pd.DataFrame(X, columns = ['c1','c2','c3'])
data['y'] = y
data.head(5)

    c1       c2        c3         y
0  1.0  0.00000  0.000000  0.795292
1  1.0  0.10101  0.010203  1.591075
2  1.0  0.20202  0.040812  0.908885
3  1.0  0.30303  0.091827  1.392846
4  1.0  0.40404  0.163249  4.638671

##  2-4 statsmodel을 활용하여 c1, c2, c3에 대한 data의 회귀 모델을 구하고 회귀 결과 객체를 반환한 값을 final에 저장하라, 또 final의 매개변수와 tvalue를 모두 출력하라

In [196]:
final = smf.ols('y~c1+c2+c3', data=data).fit()

In [197]:
final.params

Intercept     0.785548
c1            0.785548
c2           -0.249477
c3           10.036115
dtype: float64

In [198]:
final.tvalues

Intercept      5.274937
c1             5.274937
c2            -1.812336
c3           753.455972
dtype: float64

# 3번

## 3-1 train 데이터와 test데이터를 불러와 각각 train과 test에 저장하시오

In [199]:
train = pd.read_csv('ch13train.csv')

In [200]:
test = pd.read_csv('ch13test.csv')

## 3-2 데이터에 결측치가 있는지 확인하고 결측치를 각 열의 평균값으로 대체하시오  
### (past_login_total만 결측치 채우시면 됩니다)

In [203]:
train.isnull().sum()

person_id               0
Sex                     0
past_login_total      160
past_1_month_login    160
past_1_week_login     160
sub_size                0
email_type              0
phone_rat               0
apple_rat               0
login                   0
dtype: int64

In [204]:
test.isnull().sum()

person_id              0
Sex                    0
past_login_total      67
past_1_month_login    67
past_1_week_login     67
sub_size               0
email_type             0
phone_rat              0
apple_rat              0
dtype: int64

In [206]:
impute_value = train['past_login_total'].mean()
train['past_login_total'] = train['past_login_total'].fillna(impute_value)
test['past_login_total'] = test['past_login_total'].fillna(impute_value)

## 3-3 결측치가 잘 채워졌는지 확인하시오

In [207]:
train.isnull().sum()

person_id               0
Sex                     0
past_login_total        0
past_1_month_login    160
past_1_week_login     160
sub_size                0
email_type              0
phone_rat               0
apple_rat               0
login                   0
dtype: int64

In [208]:
test.isnull().sum()

person_id              0
Sex                    0
past_login_total       0
past_1_month_login    67
past_1_week_login     67
sub_size               0
email_type             0
phone_rat              0
apple_rat              0
dtype: int64

## 3-4 train 데이터와 test 데이터에 모두 female 열을 추가해 Sex 컬럼을 숫자로 더미화 하시오

In [210]:
train['female'] = (train['Sex'] == 'female').astype(int)

In [211]:
test['female'] = (test['Sex'] == 'female').astype(int)

## 3-5 train 데이터와 test 데이터에서 'female'과 'past_login_total' 컬럼만 뽑아 해당 value값을 각각 trainc와 testc에 저장하시오

In [214]:
predictors = ['female','past_login_total']

In [215]:
trainc = train[predictors].values
testc = test[predictors].values

## 3-6 train데이터에서 'login' 컬럼을 뽑아 해당 value값을 trainy에 저장하시오

In [216]:
trainy = train['login'].values

## 3-7 trainc와 trainy를 사용하여 교차검증을 하시오 (정규화 인자=7)

In [217]:
from sklearn.linear_model import LogisticRegressionCV

In [218]:
model_cv = LogisticRegressionCV(7)

In [220]:
model_cv.fit(trainc, trainy)

C:\Users\danan\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

LogisticRegressionCV(Cs=7, class_weight=None, cv='warn', dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='warn', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

# 보너스

## 1. 첫 번째 행의 'firm'열의 값을 two에 저장하시오 (hint : loc[])

In [221]:
one = sm.datasets.grunfeld.load_pandas().data

In [222]:
two = one.loc[1,'firm']

In [223]:
two

'General Motors'

## 2. invest, capital, firm, year에 대한 value의 회귀 모델를 구하시오(결측치 제거하셔야 합니다)

In [228]:
one.isnull().sum()

invest     0
value      0
capital    0
firm       0
year       0
dtype: int64

In [237]:
y, X = patsy.dmatrices('value ~ invest + capital + C(firm) + year', one)

In [238]:
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.963
Model:                            OLS   Adj. R-squared:                  0.961
Method:                 Least Squares   F-statistic:                     414.8
Date:                Thu, 12 Mar 2020   Prob (F-statistic):          7.45e-140
Time:                        20:38:48   Log-Likelihood:                -1523.7
No. Observations:                 220   AIC:                             3075.
Df Residuals:                     206   BIC:                             3123.
Df Model:                          13
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                     -1.42e+04   7597.827     -1.869      0.063   -2.92e+04     778.647
C(firm)[T.Atlantic Refining]   289.9657     97.064      2.987      0.003      98.599     481.332
C(firm)[T.Chrysler]            437.1456     82.464      5.301      0.000     274.565     599.727
C(firm)[T.Diamond Match]       -16.7591     81.004     -0.207      0.836    -176.462     142.944
C(firm)[T.General Electric]   1822.8456     87.944     20.727      0.000    1649.460    1996.231
C(firm)[T.General Motors]     2888.3048    146.570     19.706      0.000    2599.335    3177.274
C(firm)[T.Goodyear]            325.4337     85.533      3.805      0.000     156.801     494.067
C(firm)[T.IBM]                 243.1412     81.210      2.994      0.003      83.032     403.251
C(firm)[T.US Steel]            874.1971    124.323      7.032      0.000     629.088    1119.306
C(firm)[T.Union Oil]           136.0613     86.086      1.581      0.116     -33.661     305.784
C(firm)[T.Westinghouse]        518.7352     80.982      6.406      0.000     359.076     678.395
invest                           2.9502      0.296      9.982      0.000       2.367       3.533
capital                         -0.6643      0.157     -4.235      0.000      -0.974      -0.355
year                             7.3455      3.910      1.879      0.062      -0.363      15.054
==============================================================================
Omnibus:                       47.503   Durbin-Watson:                   1.520
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              338.642
Skew:                           0.565   Prob(JB):                     2.92e-74
Kurtosis:                       8.972   Cond. No.                     8.71e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.71e+05. This might indicate that there are
strong multicollinearity or other numerical problems.