## 1. Feb 15, 2019 04:30PM을 a에 이대로 입력하여 변수를 만드시오
## 같은 방법으로 Feb 15, 2020 04:30PM을 b에 입력하시오
## 둘다 형태는 Timestamp가 되도록 만드시오

In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

In [2]:
a = pd.to_datetime(parse('Feb 15, 2019 04:30PM'))
b  = pd.to_datetime(parse('Feb 15, 2020 04:30PM'))

## 2. a부터 b까지 월 마지막날, 시각은 자정에 맞춰서 dats를 만드시오. 
## (dtype은 datetime[ns]가 나와야 합니다)

In [3]:
dats = pd.date_range(a,b,freq='BM', normalize=True)
dats

DatetimeIndex(['2019-02-28', '2019-03-29', '2019-04-30', '2019-05-31',
               '2019-06-28', '2019-07-31', '2019-08-30', '2019-09-30',
               '2019-10-31', '2019-11-29', '2019-12-31', '2020-01-31'],
              dtype='datetime64[ns]', freq='BM')

## 3. 같은 기간으로 빈도를 매월 2째주 월요일로 불러오시오

In [4]:
dats = pd.date_range(a,b,freq='WOM-2MON')

In [5]:
list(dats)

[Timestamp('2019-03-11 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-04-08 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-05-13 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-06-10 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-07-08 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-08-12 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-09-09 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-10-14 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-11-11 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-12-09 16:30:00', freq='WOM-2MON'),
 Timestamp('2020-01-13 16:30:00', freq='WOM-2MON'),
 Timestamp('2020-02-10 16:30:00', freq='WOM-2MON')]

## 4. timestamp를 index로 갖는 데이터프레임 ts를 생성하시오(1000개의 난수 생성, 5개의 열 생성)
## 열이름은 A,B,C,D,E
## a부터 기간 시작(위에 설정했던)

In [6]:
ts = pd.DataFrame(np.random.randn(1000,5),
              index=pd.date_range(a,periods=1000, freq='M'),
                 columns = ['A','B','C','D','E'])
ts

                            A         B         C         D         E
2019-02-28 16:30:00  0.471117  0.383916 -0.465667 -0.418212  0.304146
2019-03-31 16:30:00  0.221816 -0.954125 -1.020321  0.651344  0.615115
2019-04-30 16:30:00 -0.091863 -0.275657 -0.390268  1.362317  0.136276
2019-05-31 16:30:00 -0.072318 -1.367880  0.998026 -0.963553 -1.360221
2019-06-30 16:30:00 -0.505441 -0.018050  1.293874  0.691451 -0.062374
...                       ...       ...       ...       ...       ...
2102-01-31 16:30:00  0.114033  0.237392  0.486602 -0.957791 -0.069161
2102-02-28 16:30:00 -0.035972 -0.744030  0.172103 -0.060028  0.468277
2102-03-31 16:30:00 -0.189389 -0.459664 -0.226210  0.517170  0.767267
2102-04-30 16:30:00  1.078032  0.629837  0.160204  1.157821  0.056815
2102-05-31 16:30:00 -0.132196  0.304812 -0.497629 -0.605635 -1.515756

[1000 rows x 5 columns]

## 4-1 평균을 구하며 downsampling하시오(기간은 본인이 알아서 설정)

In [7]:
ts.resample('2M').mean()

                   A         B         C         D         E
2019-02-28  0.471117  0.383916 -0.465667 -0.418212  0.304146
2019-04-30  0.064976 -0.614891 -0.705295  1.006831  0.375696
2019-06-30 -0.288879 -0.692965  1.145950 -0.136051 -0.711297
2019-08-31  0.376257  0.630790  0.551812  0.380512  0.268201
2019-10-31 -0.155486 -0.312665  1.735713  0.087383 -0.357288
...              ...       ...       ...       ...       ...
2101-10-31 -0.223340  0.313938  0.361063  0.558611 -1.778603
2101-12-31  0.409550 -0.028554  0.283028  0.710318 -0.430971
2102-02-28  0.039030 -0.253319  0.329352 -0.508910  0.199558
2102-04-30  0.444322  0.085087 -0.033003  0.837495  0.412041
2102-06-30 -0.132196  0.304812 -0.497629 -0.605635 -1.515756

[501 rows x 5 columns]

## 4-2. 뒤에서 나올 데이터를 쓰며 upsampling하시오 (기간은 본인이 설정)

In [8]:
ts.resample('15D').bfill()

                   A         B         C         D         E
2019-02-28  0.471117  0.383916 -0.465667 -0.418212  0.304146
2019-03-15  0.221816 -0.954125 -1.020321  0.651344  0.615115
2019-03-30  0.221816 -0.954125 -1.020321  0.651344  0.615115
2019-04-14 -0.091863 -0.275657 -0.390268  1.362317  0.136276
2019-04-29 -0.091863 -0.275657 -0.390268  1.362317  0.136276
...              ...       ...       ...       ...       ...
2102-03-30 -0.189389 -0.459664 -0.226210  0.517170  0.767267
2102-04-14  1.078032  0.629837  0.160204  1.157821  0.056815
2102-04-29  1.078032  0.629837  0.160204  1.157821  0.056815
2102-05-14 -0.132196  0.304812 -0.497629 -0.605635 -1.515756
2102-05-29 -0.132196  0.304812 -0.497629 -0.605635 -1.515756

[2028 rows x 5 columns]

## 5. index를 월단위 기간, 그리고 데이터는 평균으로 리샘플하여 tsm에 저장하시오

In [9]:
tsm = ts.resample('M',kind='period').mean()
tsm

                A         B         C         D         E
2019-02  0.471117  0.383916 -0.465667 -0.418212  0.304146
2019-03  0.221816 -0.954125 -1.020321  0.651344  0.615115
2019-04 -0.091863 -0.275657 -0.390268  1.362317  0.136276
2019-05 -0.072318 -1.367880  0.998026 -0.963553 -1.360221
2019-06 -0.505441 -0.018050  1.293874  0.691451 -0.062374
...           ...       ...       ...       ...       ...
2102-01  0.114033  0.237392  0.486602 -0.957791 -0.069161
2102-02 -0.035972 -0.744030  0.172103 -0.060028  0.468277
2102-03 -0.189389 -0.459664 -0.226210  0.517170  0.767267
2102-04  1.078032  0.629837  0.160204  1.157821  0.056815
2102-05 -0.132196  0.304812 -0.497629 -0.605635 -1.515756

[1000 rows x 5 columns]

## 5-1. 데이터의 index가 unique한지 확인하시오
## 그리고 new_tsm에 연별로 묶어 평균을 구하시오 단, na값은 0으로 채우시오

In [10]:
tsm.index.is_unique

True

In [11]:
new_tsm = tsm.resample('Y', how=np.mean).fillna(0)
new_tsm

C:\Users\danan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  """Entry point for launching an IPython kernel.

             A         B         C         D         E
2019  0.218339 -0.553007  0.440894  0.187509 -0.142031
2020 -0.328576 -0.093374  0.127714 -0.250662 -0.205998
2021  0.048980 -0.229088 -0.226908 -0.016271 -0.177618
2022  0.087642 -0.083236 -0.055091 -0.131599  0.026263
2023  0.347682 -0.146526  0.155367 -0.113217 -0.302207
...        ...       ...       ...       ...       ...
2098  0.138908  0.424160  0.227102 -0.519153  0.412310
2099  0.364388 -0.542800  0.310140  0.083289  0.371521
2100  0.181237  0.422275  0.551835  0.314180 -0.119986
2101  0.537861  0.230692 -0.026483  0.169690 -0.380540
2102  0.166902 -0.006330  0.019014  0.010307 -0.058511

[84 rows x 5 columns]

## 5-2. new_tsm 데이터를 12월을 연도마감으로하는 분기 주기를 계산하시오

In [12]:
new_tsm.resample('Q-DEC').ffill()

               A         B         C         D         E
2019Q1  0.218339 -0.553007  0.440894  0.187509 -0.142031
2019Q2  0.218339 -0.553007  0.440894  0.187509 -0.142031
2019Q3  0.218339 -0.553007  0.440894  0.187509 -0.142031
2019Q4  0.218339 -0.553007  0.440894  0.187509 -0.142031
2020Q1 -0.328576 -0.093374  0.127714 -0.250662 -0.205998
...          ...       ...       ...       ...       ...
2101Q4  0.537861  0.230692 -0.026483  0.169690 -0.380540
2102Q1  0.166902 -0.006330  0.019014  0.010307 -0.058511
2102Q2  0.166902 -0.006330  0.019014  0.010307 -0.058511
2102Q3  0.166902 -0.006330  0.019014  0.010307 -0.058511
2102Q4  0.166902 -0.006330  0.019014  0.010307 -0.058511

[336 rows x 5 columns]